<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Patients List</title>
</head>
<body>
    <h1>Patients List</h1>
    <ul>
        <% patients.forEach(patient => { %>
            <li><%= patient.Name %> - <%= patient.ChronicCondition %></li>
        <% }); %>
    </ul>
</body>
</html>
